
<h1 class="text-center">All Courses</h1>
<table class="table table-hover">
  <tr>
    <thead class="table-dark">
    <th>Course Name</th>
    <th>Actions</th>
  </tr>
    </thead>
  <% @courses.each do |course| %>
    <tr>
      <td> <%= course.course_name %></td>
      <td> <%= link_to "Show this course", course , class:"btn btn-secondary btn-md" %> || <%= link_to "New course", new_course_path ,class:"btn btn-success btn-md" %></td>
    </tr>

  <% end %>
</table>
